.whiteblock{
    background: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    display: flex;
    flex-direction: column;
    background: #ECECEC;
    font-family: Montserrat;
}
.image{
    max-width: 100%;
    margin: auto;
}
.header{
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 59px;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
}
.subheader{
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
}
.text{
    margin: auto;
    max-width: 80% ;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    padding-bottom: 1vh;
}
.image-block{
    align-content: center;
    align-self: center;
    align-items: center;
}
.upper-button{
    text-align: center;
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 324px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #FFFFFF;
    background: #5264FF;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: .3s;
}
.lower-button{
    text-align: center;
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 324px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #FFFFFF;
    background: #5264FF;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: .3s;
    margin-bottom: 4vh;
    margin-top:10px;
}
.or{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.button-text{
    color: #FFFFFF;
}
.right p{
    width: 100%;
    text-align: right;
}
.left p{
    text-align: left;
    align-items: start;
    alignment: left;
}
.follow-us{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}
.email{
    text-decoration: underline;
}
.rights{
    padding-top: 1vh;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
.summary{
    padding-top: 2vh;
}